@import url(variables.css);

*{margin: 0; padding: 0; 
    /* outline: 1px solid tomato; */
}
*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
/* img, video, svg{height: auto; max-width: 100%;} */
@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}

/* ancho 412px */
/*  4.12 */

.headercontainer {
    color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 87.37vw;
    background: url(../storage/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    border-bottom-left-radius: 8vw;
    border-bottom-right-radius: 8vw;
    
    transition: all 2s ease-in-out;
    
    .regioncontainer{
        position: fixed;
        width: 100vw;
        top: 1.45vw;
        
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        input{
            margin-left: 5.58vw ;
            font-size: 5.34vw;
            border: none;
            outline: none;
            background: transparent;
            color: white;
        }

        
        img{
            margin-right: 5.82vw; 
            width: 5.82vw;
            height: 5.82vw;
        }

    }

    .tempcontainer{
        position: fixed;
        left: 5.58vw;
        top:33.73vw;
        white-space: nowrap;
        font-size: 27.18vw;
        
    }

    .feelslikecontainer{
        position: fixed;
        left: 24.27vw;
        top: 49.75vw;
        font-size: 4.36vw;

    }
    .imgweathercontainer{
        position: fixed;
        top:17.96vw;
        left:68.20vw;
        display: flex;
        flex-direction: column;
        gap: 3.39vw;
        align-items: center;
        img{
            
            width: 25.97vw;
            height: 25.97;
        }

        p{
            font-size: 5.33vw;
        }
    }

    .datecontainer{
        position: fixed;
        top: 76.69vw;
        left: 5.58vw;
        font-size: 4,36vw;
        
    }

    .daynightcontainer{
        position: fixed;
        top: 71.84vw;
        left: 76.69vw;
        font-size: 4.36vw;
        display: flex;
        flex-direction: column;

    }
}