@import url(variables.css);

:root{

    --time: 1s;
}

*{margin: 0; padding: 0; 
    /* outline: 1px solid tomato; */
}
*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
/* img, video, svg{height: auto; max-width: 100%;} */
@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}

/* ancho 412px */
/*  4.12 */


.headercontainer {
    color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 87.37vw;
    background: url(../storage/img/background.png);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    border-bottom-left-radius: 8vw;
    border-bottom-right-radius: 8vw;
    
    transition: height var(--time) ease-in-out, 
            background var(--time) ease-in-out, 
            border var(--time) ease-in-out, 
            border-radius var(--time) ease-in-out;
    
    .regioncontainer{
        position: fixed;
        width: 100vw;
        top: 1.45vw;
        
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        input{
            width: inherit;
            font-family: "Product\ Sans\ Regular.ttf";
            margin-left: 5.58vw ;
            font-size: 5.34vw;
            border: none;
            outline: none;
            background: transparent;
            color: white;
            transition: all var(--time) ease-in-out;
        }

        
        img{
            margin-right: 5.82vw; 
            width: 5.82vw;
            height: 5.82vw;
        }

    }

    .tempcontainer{
        font-family: "Product\ Sans\ Regular.ttf";
        letter-spacing: -2.4vw;
        position: fixed;
        left: 5.58vw;
        top:33.73vw;
        white-space: nowrap;
        font-size: 27.18vw;
        transition: all var(--time) ease-in-out;
        
    }

    .feelslikecontainer{
        font-family: "Product\ Sans\ Regular.ttf";
        position: fixed;
        left: 24.27vw;
        top: 49.75vw;
        font-size: 4.36vw;
        transition: all var(--time) ease-in-out;

    }
    .imgweathercontainer{
        position: fixed;
        top:17.96vw;
        left:68.20vw;
        display: flex;
        flex-direction: column;
        gap: 3.39vw;
        height: 36.16vw;
        align-items: center;
        transition: all var(--time) ease-in-out;
        text-align: center;
        img{
            
            width: 25.97vw;
            height: 25.97vw;
            transition: all var(--time) ease-in-out;
            object-fit: scale-down;
        }

        p{
            font-family: "Product\ Sans\ Regular.ttf";
            font-size: 5.33vw;
            
            
        }
    }

    .datecontainer{
        font-family: "Product\ Sans\ Regular.ttf";
        position: fixed;
        top: 76.69vw;
        left: 5.58vw;
        font-size: 4.36vw;
        transition: all 0s ease-in-out;
        
    }

    .daynightcontainer{
        font-family: "font/Product\ Sans\ Bold.ttf";
        position: fixed;
        top: 71.84vw;
        left: 76.69vw;
        font-size: 4.36vw;
        display: flex;
        flex-direction: column;
        transition: all var(--time) ease-in-out;

    }


    .selectioncontaienr{
        position: fixed;
        display: flex;
        flex-direction: row;
        gap: 3.88vw;
        top: 91.74vw;
        
        left: 3.88vw;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 92.23vw;
        height: 10.19vw;
        transition: all var(--time) ease-in-out;
        
        p{
            font-family: "Product\ Sans\ Regular.ttf";
            height: 10.19vw;
            width: 40.29vw;
            justify-content: center;
            align-items: center;
            display: flex;
            border-radius: 3.40vw;
            background-color: white;
            color: black;
            font-size: 3.88vw;
        }
        
        p:hover{
            background-color: rgba(224, 182, 255, 1);
        }


    }
}


.maincontainer{
    background-color: brown;
    position: fixed;
    top: 105.82vw;
    left: 3.88vw;
    width: 92.23vw;
    height:100vw ;
    transition: all var(--time) ease-in-out;
    display: flex; flex-direction: column;
    gap:3.88vw ;

    .windrainpressureuvcontainer{
        background-color: blue;
        height: 10vw;
        width: 92.23vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    
        div{
            height: 2vw;
            width:44.17vw ;
            background-color: aqua;
        }
    }

    .hourlyforecast{
        background-color: blue;
        height: 10vw;
        width: 10vw;
    }

    .dailyforecast{
        
    }

}