:root{
    --background-1: #F6EDFF;
    --button-1: #E0B6FF;
    --button-2: #FFFFFF;
    --card-1: #E2D3FA;
    --color-1: #FFFFFF;
    --color-2: #1E1B1B;
    --color-3: #494649;
    --progress-bar-1: #8A20D5;
}

@font-face {
    font-family: "Product\ Sans\ Regular.ttf";
    src: url(../storage/font/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: "font/Product\ Sans\ Bold.ttf";
    src: url(../storage/font/Product\ Sans\ Bold.ttf);
}